<html>
  <head></head>

   <style>
   body {
     background: <%= color %>;
   }
       </style>
   </body>
    <p>
      The SECRET NUMBER is <%= number %>
    </p>
    <p>
      <%= message %>
    </p>

  </body>
</html>


<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

